#left{
    float: left;
    width: 100%;
    height: auto;
    background: gray;
}
#main{
    float: left;

}
#right{
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 100%;
}
.table{
    margin: 0;
    padding: 0;
    height: 100px;
    border: 1px solid rgb(219, 219, 219);
}
.table h2{
    float: left;
    margin: 0;
    padding: 33px;
    background:rgb(214, 214, 214);;
    text-align: center;

}

.te{
    float: left;
    
    margin: 0;
    padding:10px;
    height: 80px;
    line-height: 20px;
    
}

span{
    font-size: 15px;
    font-weight: normal;
}
.newline{
    display: inline-block;
}